body{
    width: 80%;
    margin: 50px auto;
    
}
#form-img{
   padding: 0;
   margin: 10px auto;
}
#form-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    
}
.form-head, h2{
    text-align: center;
}
h2{
    margin-top: 70px;
    margin-bottom: 10px;

}

#form-personal-datail{
    flex-direction: column;
    display: grid;
    /* grid-template-columns: repeat(5,150px); */
    grid-template-rows: repeat(5, 60px);
    justify-content: center;
    margin: 0px auto 50px auto;
    
}
.title {
    display: block;
    margin-bottom: 3px;

}
#form-personal-datail input {
    width: 500px;
    height: 20px;
}
#form-personal-02{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  
}
#form-personal-02 span{
    text-align: left;
    width: 500px;
    display: block;
    margin: 0px auto 10px auto; 
}

 #upload-input{
    display: inline-block;
    width: 500px;
    height: 25px;
    border: 1px solid #dddddd;
    color: #999999;
    padding: 4px 0px 2px 4px;
    margin:0px 0px 50px 0px ;
 
} 
#form-last{
   margin: 15px auto;
   text-align: center;
}
#form-btn{
    color: white;
    background-color: black;
    padding: 10px 30px;
    
   
}