@charset 'utf-8';
html{
    font-family:'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body{
    overflow-x:hidden ;/*가로 스크롤 안 생기게*/
    color: rgb(29, 29, 31) ;
    letter-spacing: -0.05em;/* 자간 줄이기*/
    background-color: white;
    padding: 0;
    margin: 0;
}
p{
    line-height: 1.6;/*문단*/
    font-size: 21px;
}
p :not(strong){
    color: #ddd;
    font-weight: bold;
}
a{
    color: rgb(29, 29, 31) ;
    text-decoration: none;   
}
.global-nav{
    height: 44px;
}
.local-nav{
    height: 52px;
   
}
.global-nav-links,
.local-nav-links{
    display: flex;
    align-items: center;
    max-width:1000px ;
    height: 100%;
    margin: 0 auto;
}
.global-nav-links{
    justify-content: space-between;
}
.local-nav-links{
    border-bottom: 1px solid #ddd;
}

.local-nav-links .product-name{
    margin-right: auto;/*auto 를 사용해서 우측으로 nav들 치우침*/
    font-size: 1.4rem;
    font-weight: bold;
}
.local-nav-links a {
    font-size: 0.8rem;
}
.local-nav-links a:not(.product-name){
    margin-left: 2em;
}
/*섹션 전체 마진*/
section{
    margin:152px auto 50px 152px;
    width: 80%;
    
}

.container-logo {  
   align-items: center;
   display: flex;
   justify-content: center;
   margin-top: 22px;
}
#container-logo-feature{
    position: relative;
    margin: auto;
    width: 680px;
    height: auto;
  
}
.container-logo h1{
    position: absolute;
    font-weight: 600;
    font-size: 15vw;
    text-align: center;

}
.container-logo-info{
    display: block;
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-size:28px;
    font-weight: 600;
    
}

/* 동영상 섹션 전체 */
.video-show {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0px auto;
    position: relative; 
   
}
video{
    width: 100%;
    
}
/* 동영상_텍스트 전체 */
.video-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-text p {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-weight: 900;
  opacity: 0.8;
}
#description{
margin-left: -70px;
}
.description{
font-size: 130px;
font-weight: 400;
line-height: 150px;
}
.description-side{
   margin-left: 50%;
   margin-top:80px ;
   font-weight: 600;
}
.main-img{
    position: relative;
    width: 50%;
    height: auto;

}
.side-img{
    position: absolute;
}
/* @media (max-width:1024px){
    .global-nav-links{
        font-size: ;
    }
    
} */