<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- default css -->
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/share.css"/>
    <!-- only for this page css -->
    <link rel="stylesheet" href="/styles/beans.css">
    <title>%Arabica UK</title>
  </head>
  <body>
    <header>
      <div id="nav">
        <p>
          Free shipping on coffee subscriptions and all orders of $35 or more.
        </p>
        <nav id="nav-items">
          <ul>
            <li class="nav-list">
              <a href="index.html"
                ><img class="nav-logo" src="/images/logos/logo.svg" alt="logo"
              /></a>
            </li>
            <li class="nav-list">
              <a href="about.html">Our Story</a>
            </li>
            <li class="nav-list">
              <a href="beans.html">Beans</a>
            </li>
            <!-- <li class="nav-list">
              <a href="merchandise.html">Merchandise</a>
            </li> -->
            <li class="nav-list">
              <a href="careers.html">Careers</a>
            </li>
            <li class="nav-list">
              <a href="stores.html">Stores</a>
            </li>
            <li class="nav-list">
              <div id="hamburger-icon">
                <button id="drawer-btn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </div>
            </li>
          </ul>
          <ul id="nav-icon">
            <li >
              <a class="nav-icon" href="shopping.html"><img src="/images/icons/cart-shopping-solid.svg" alt="cart"></a>
            </li>
            <li >
              <a class="nav-icon" href="user.html"><img src="/images/icons/user.png" alt="user"></a>
            </li>
          </ul>
        </nav>
      </div>

      <aside id="side-drawer">
        <nav>
          <ul>
            <li class="nav-list">
              <a href="about.html">Our Story</a>
            </li>
            <li class="nav-list">
              <a href="beans.html">Beans</a>
            </li>
            <!-- <li class="nav-list">
              <a href="merchandise.html">Merchandise</a>
            </li> -->
            <li class="nav-list">
              <a href="careers.html">careers</a>
            </li>
            <li class="nav-list">
              <a href="stores.html">Stores</a>
            </li>
          </ul>
        </nav>
      </aside>
    </header>

    <main>
      <div id="roasters">
        <img id="roasters-img" src="/images/arabica london/사람01.jpeg" alt="roaster">
      </div>
      <div id="roasters-text">
        <h1 >Beans</h1>
      </div>
        <div id="beans-main">
            <img id="beans-main-img" src="/images/arabica london/커피 농장.jpeg" alt="roaster">
          <p id="beans-main-text">
            Our Secret Blend from Japan
          Arabica Kyoto’s secret original blend is also our best seller. This full bodied coffee is well-balanced with a depth and complexity of chocolatey flavor. The presence of milk adds a sweetness and texture that is perfectly complementary.
          </p>
        </div>
        <div id="middle-text">
          <p>Get your hands on our beans anytime and enjoy the vibrant and casual experience.</p>
          <!-- <img src="/images/arabica london/shot.png" alt=""> -->
        </div>
        <div class="beans-buying">
          <ul class="beans-buying">
            <li class="beans-buying-img"><img src="/images/arabica london/beans.jpeg" alt="beans"></a></li>
            <li class="beans-buying-img"><img src="/images/arabica london/beans2.jpeg" alt="beans"></li>
            <li class="beans-buying-img"><img src="/images/arabica london/beans3.jpeg" alt="beans"></li>
            <li class="beans-buying-img"><img src="/images/arabica london/md product1.jpeg" alt="beans">
            </li>
          </ul>

        </div>
        
    </main>
    <footer>
      <h2>Follow us on</h2>
      <section id="icons">
        <span class="icons"><a href="https://www.instagram.com/arabica_uk/">
          <img src="/images/icons/instagram.png" alt="instagram" />
        </a>
        </span>
        <span class="icons">
          <img src="/images/icons/001-facebook-app-symbol.png" alt="facebook" />
        </span>
      </section>
      <section id="footer-info">
        <ul id="info-lists">
          <li class="info-list"> <a href="#">FAQ</a></li>
          <li class="info-list"> <a href="#">Shipping Info</a></li>
          <li class="info-list"><a href="#">Terms & Conditions</a></li>
          <li class="info-list"> <a href="#">Privacy Policy</a></li>
          <li class="info-list"><a href="careers.html">Careers</a></li>
          <li class="info-list"><a href="#"> Contact</a></li>
        </ul>
      </section>
      <div id="slogan">
        <img src="/images/logos/see-the-world-logo.png" alt="slogan" />
        <p>© %ΔRΔBICΔ, All rights reserved</p>
      </div>
    </footer>
  </body>
</html>



