<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- default css -->
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/share.css"/>
    <!-- only for this page css -->
    <link rel="stylesheet" href="/styles/stores.css">
    <title>%Arabica UK</title>
  </head>
  <body>
    <header>
      <div id="nav">
        <p>
          Free shipping on coffee subscriptions and all orders of $35 or more.
        </p>
        <nav id="nav-items">
          <ul>
            <li class="nav-list">
              <a href="index.html"
                ><img class="nav-logo" src="/images/logos/logo.svg" alt="logo"
              /></a>
            </li>
            <li class="nav-list">
              <a href="about.html">Our Story</a>
            </li>
            <li class="nav-list">
              <a href="beans.html">Beans</a>
            </li>
            <!-- <li class="nav-list">
              <a href="merchandise.html">Merchandise</a>
            </li> -->
            <li class="nav-list">
              <a href="careers.html">Careers</a>
            </li>
            <li class="nav-list">
              <a href="stores.html">Stores</a>
            </li>
            <li class="nav-list">
              <div id="hamburger-icon">
                <button id="drawer-btn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </div>
            </li>
          </ul>
          <ul id="nav-icon">
            <li >
              <a class="nav-icon" href="shopping.html"><img src="/images/icons/cart-shopping-solid.svg" alt="cart"></a>
            </li>
            <li >
              <a class="nav-icon" href="user.html"><img src="/images/icons/user.png" alt="user"></a>
            </li>
          </ul>
        </nav>
      </div>

      <aside id="side-drawer">
        <nav>
          <ul>
            <li class="nav-list">
              <a href="about.html">Our Story</a>
            </li>
            <li class="nav-list">
              <a href="beans.html">Beans</a>
            </li>
            <li class="nav-list">
              <a href="merchandise.html">Merchandise</a>
            </li>
            <li class="nav-list">
              <a href="careers.html">careers</a>
            </li>
            <li class="nav-list">
              <a href="stores.html">Stores</a>
            </li>
          </ul>
        </nav>
      </aside>
    </header>

    <main>
      <div id="main-img">
        <img src="/images/arabica london/stroes5.jpeg" alt="store">
      </div>
      <div id="main-img-text">
        <h1>Stores</h1>
       </div>
      <section>
        <div class="stores">
          <img src="/images/arabica london/코벤트가든.jpeg" alt="covent garden">
          <div class="stores-text">
            <h2>% Arabica London Covent Garden</h2>
              <p>We are very excited to announce our first store in UK: global store no.43, % ΔRΔBICΔ London Covent Garden. The store is right by the iconic Covent Garden Piazza, a historic market site for hundreds of years, that is now a shopping and tourism hub for thousands of visitors and locals every day.
              London’s famous West End is also here, with renowned theatres and the world famous Royal Opera house on our doorstep. This is the heart of London, where international visitors flock to take in the ambience, culture, sights and sounds of this world famous destination.
              King Street, where the store lies, is a beautiful pedestrian walkway lined with Georgian houses and charming stores to browse, and just a few steps away you can watch the famous street performers charm the crowds outside St Paul’s church.   
              We welcome you to pass by for your favourite take away coffee as you explore this amazing part of historic London, or take a moment to sit with us and enjoy the view of the passing hustle and bustle with your favourite % Arabica coffee, where our dedicated team of baristas will be happy to welcome you ***</p>
          </div>
        </div>
      </section>
      <section>
        <div class="stores">
          <img src="/images/arabica london/브로드웨이.jpeg" alt="Broadway">
          <div class="stores-text">
            <h2>% Arabica London Broadway Market</h2>
              <p>With great excitement, we announce the opening of our   London Broadway Market store. This is our UK flagship store, our second location in the city and % Arabica global store no. 45. When founder Kenneth Shoji was location hunting in London, his goal was to find an authentic, popular and vibrant location that would really give us a platform to bring % Arabica to the heart of the London community.
              Tucked away in Hackney, East London, is the famous Broadway Market which hosts a renowned street food and farm produce every Saturday. The whole street is filled with stalls of the best local produce, artisan craftsmen and amazing hot food to go. On sunnier days the crowd spill onto neighbouring London Fields to sit in the sun and watch the weekend go by. Our store sits on a cosy corner at the centre of the market street.
              Join us for your favourite % Arabica coffee on our terrace seating, and choose your favourite green bean from our custom display as our baristas will be happy to guide you through the selection before we roast the beans for you in house while you wait ***</p>
          </div>
        </div>
      </section>
      <section>
        <div class="stores">
          <img src="/images/arabica london/사우스몰튼.jpeg" alt="south morton">
          <div class="stores-text">
            <h2>% Arabica London South Molton Street</h2>
              <p>London’s cosmopolitan vibes continue to attract us at % Arabica to open more locations in this beautiful city. For our third location in the city, we’ve set up shop in the fashionable and free-spirited South Molton Street. This area has a wide pathway connecting it to Oxford Street, New Bond Street, and Mayfair. Georgian townhouses have been converted to multi-brand boutiques and shops, attracting independent designers to show off their creations as well as artists to install their art for locals and workers in the area to enjoy.
              With so much art and inspiration in this street, we at % Arabica just knew that we needed to open up a kiosk here to serve our coffee to all the busy local workers, artists, and designers of South Molton. Austrian designer, Precht, has designed a kiosk with a fun tubular design that fits with the artistic vibes of South Molton Street. With white and brown wood interiors, the kiosk can be expanded with the addition of extra components. 
              We hope you come to South Molton Street and enjoy our simple and delicious coffee. Our friendly baristas look forward to serving you ***</p>
          </div>
        </div>
      </section>
      <section>
        <div class="stores">
          <img src="/images/arabica london/스피탈필즈.jpeg" alt="spital fields">
          <div class="stores-text">
            <h2>% Arabica London Spitalfields Market</h2>
              <p>Spitalfields is the gateway to the trendy Brick Lane and Shoreditch communities, as well as one of the most vibrant shopping districts in the East End. Explore the Traders Market to discover unique handcrafted items, innovative chefs whipping up tasty treats, and aspiring artists selling their pieces. Or, visit the Old Spitalfields Market, where you can find brick-and-mortar designer boutiques and a variety of restaurants.
              Within Arabica’s store, you can find our unique kiosk designed by Studio Precht. With its sleek and compact design, this fully modular kiosk showcases the essence of both form and function. Its half-circled doors rotate to form a minimal interpretation of the % logo when closed, with a peeking window that offers a glimpse into the world of coffee. The mirrors on the walls also create the illusion of a bigger space, so come right in and have a seat! It’s the perfect spot to unwind during your busy shopping trip at Spitalfields Market. Our friendly baristas look forward to serving you ***</p>
          </div>
        </div>
      </section>
    </main>
    <footer>
    <h2>Follow us on</h2>
    <section id="icons">
    <span class="icons">
    <img src="/images/icons/instagram.png" alt="instagram" />
    </span>
    <span class="icons">
    <img src="/images/icons/kakao-talk.png" alt="kakao" />
    </span>
    <span class="icons">
    <img src="/images/icons/001-facebook-app-symbol.png" alt="facebook" />
    </span>
    </section>
    <section id="footer-info">
      <ul id="info-lists">
        <li class="info-list"> <a href="#">FAQ</a></li>
        <li class="info-list"> <a href="#">Shipping Info</a></li>
        <li class="info-list"><a href="#">Terms & Conditions</a></li>
        <li class="info-list"> <a href="#">Privacy Policy</a></li>
        <li class="info-list"><a href="careers.html">Careers</a></li>
        <li class="info-list"><a href="#"> Contact</a></li>
      </ul>
    </section>
    <div id="slogan">
    <img src="/images/logos/see-the-world-logo.png" alt="slogan" />
    <p>© %ΔRΔBICΔ, All rights reserved</p>
    </div>
    </footer>
  </body>
</html>



