form{
    height: 800px;
}
#career-main img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    position: relative;
}
#career-main-text h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0;
    font-family: serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}
#career-Description{
    text-align: center;
    width: 500px;
    margin: 20px auto;
}
#career-Description h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom:70px;
}
#career-Description p{
    line-height: 25px;
    font-size: 1rem;
}
#career-Description-list ul{
    padding-left: 0;
}
#career-Description li{
    line-height: 23px;
    font-size: 0.8rem;
    /* list-style: none; */
    color: rgb(0, 0, 0);
}
#apply-btn-input{
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 20px auto;
    margin-top: 70px;
    
}